::selection {
  color: #fff;
  background: #d63d34; /* Safari */
}

::-moz-selection {
    color: #fff;
    background: #d63d34; /* Firefox */
}

.blog-content h2 a:hover, .blog-content .post-meta li a:hover{
	color: #d63d34;
}

a,a:hover,
.blog-content h3 a:hover{
  color:#d63d34;
}


#header .navbar-inverse .navbar-nav  .active  > a,  
#header .navbar-inverse .navbar-nav  .active  > a:focus, 
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a{
  color:#d63d34;
  border-color:#d63d34;
}

#header .navbar-inverse .navbar-nav .dropdown-menu > li:hover {
  border-bottom: 1px solid #d63d34;
}

.dropdown-menu {
  border-top: 3px solid #d63d34;
}

.carousel-indicators .active{
  background-color: #d63d34 !important;
}

#home-carousel .carousel-inner h2 span{
  color:#d63d34;
}

#home-carousel .carousel-left:hover,
#home-carousel .carousel-right:hover,
#respond input:focus, #respond textarea:focus{
  border-color: #d63d34;
}

.features-nav  .media i:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d63d34;
}

.features-nav .active .media i, 
.features-nav li:hover  .media i {
  background-color: #d63d34;
  border-color: #d63d34;
}

#portfolio .portfolio-filter li .active{
  border: 1px solid #d63d34;
  color: #d63d34;
}

#portfolio .portfolio-filter li a:hover, 
#portfolio .portfolio-filter li a:focus,
#portfolio .portfolio-filter li a:active {
  color: #d63d34;
}

.mask i {
  border: 1px solid #d63d34;
  color: #d63d34;
}

.mask i:hover{
  background-color:#d63d34;  
}

.carousel-left:hover, 
.carousel-right:hover {
  background: #d63d34;
}

.carousel-left, 
.carousel-right {
  border: 1px solid #d63d34;
  color: #d63d34;
}

#team-member-carousel .team-member:hover{
  background-color: #d63d34;
}

#our-team .carousel-left:hover,
#our-team .carousel-right:hover{
  border: 1px solid #d63d34;;
}

.testimonial p span{
  color:#d63d34;
}

.single-blog .date {
  background: none repeat scroll 0 0 #d63d34;
}

#contact-wrap .btn-primary {
  background: #d63d34;
}

#contact-wrap .form-control:focus {
  border-color: #d63d34;
}

#footer a {
  color:#d63d34;
}


.btn-readmore{
  background-color: #d63d34;
}

.carousel-blog-control {
  background: #d63d34;
}

.btn-reply:hover{
  background:#d63d34;
}

.btn-send, .blog-content .date{
  background: #d63d34;
  }
  

.replay-box form span input:focus, 
.replay-box form textarea:focus{
	border-color: #d63d34;
}  

.pagination-lg li a:hover {
  background-color: #d63d34;
}

.pagination  .active  a, 
.pagination  .active  span, 
.pagination  .active  a:hover, 
.pagination  .active  span:hover, 
.pagination  .active  a:focus, 
.pagination  .active  span:focus {
  background-color: #d63d34;
}

.btn-search, .btn-plan,
.load-wrap .load-more{
  background: #d63d34;
}

.blog_category li a:hover, 
.blog_category li a:focus,
.single-blog-content h2 a:hover,
.single-blog-content .post-meta li a:hover{
	color: #d63d34;
}

ul.plan:hover {
  border-color: #d63d34;
}

ul.plan:hover .plan-name {
  background: #d63d34;
}

ul.plan:hover .plan-price {
  border-color: #d63d34 ;
}

.tag-cloud li a:hover, .tag-cloud li a:focus {
  background-color: #d63d34;
}

.portfolio-prev:hover, 
.portfolio-next:hover {
  background:#d63d34;
  border-color:#d63d34;
}

.client-carousel-left:hover,  
.client-carousel-right:hover,
.client-carousel-left:focus,  
.client-carousel-right:focus {
  background:#d63d34;
  border-color:#d63d34;
}

.single-carousel-right, 
.single-carousel-left {
  background:#d63d34;
  border: 1px solid #d63d34;
}

.search_box:focus{
  border-color: #d63d34;
}

.widget ul li a:hover {
color: #d63d34;
}

.widget .tagcloud a:hover,
.btn-style,
#comments .form-submit #submit{
  background-color: #d63d34;
}

.btn-reply:hover {
background: #d63d34;
}

@media (max-width: 767px) { 
  #header .navbar-inverse .navbar-nav .dropdown-menu > li.active > a, 
  #header .navbar-inverse .navbar-nav .dropdown-menu > li.active > a:focus, 
  #header .navbar-inverse .navbar-nav .dropdown-menu > li > a:hover {
    border-left: 2px solid #d63d34;
  }
}
